body
{
    margin: 0;
    padding: 0;
	width: 100%;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

nav
{
    position: fixed;
    background-color: #5B5B5B;
    align-items: center;
    justify-content: space-between;
	display: flex;
	width: 100%;
    z-index: 100;
}

nav ul
{
    display: flex;
    padding-right: 100px;
}

nav ul li
{
    list-style: none;
    padding-top: 10px;
    padding-left: 70px;
}

nav ul li a
{
    text-decoration: none;
}

nav ul li a img
{
    width: 50px;
}

h3
{
    font-weight: 700;
    text-align: center;
    color: #8C5845;
}

footer h4
{
    font-weight: 600;
    color: #8C5845;
}

p
{
    font-weight: 400;
}

b
{
    font-weight: 600;
}

a:link, a:visited 
{
    color: black;
}

a:hover 
{
    color: #8C5845;
}

#logo
{
    padding-left: 100px;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

/*footer*/
    .icon
    {
        width: 30px;
        display: inline-block;
        position: relative;
    }

    footer
    {
        background-color: #D9D9D9;
    }

    footer .container
    {
        padding-top: 60px;
        padding-bottom: 25px;
    }

    footer .container .row li 
    {
        list-style: none;
    }

    footer .container .row li a
    {
        text-decoration: none;
    }


@media only screen and (max-width: 600px) 
{
    h4
    {
        font-size: x-small;
    }

    #logo 
    {
        padding-left: 20px;
    }

    nav ul li a img
    {
        width: 40px;
    }

    nav ul
    {
        padding-right: 20px;
    }

    nav ul li
    {
        list-style: none;
        padding-top: 10px;
        padding-left: 40px;
    }
}